:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
    --text-color: rgb(106, 60, 165);
    --backgroung-color: rgb(243, 219, 8);
}

h2 {
    text-transform: uppercase;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 980px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}